@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
	font-family: futura;
	text-align: center;
	padding: 2rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: all 725ms ease-in-out;
}

h1 {
  font-family: dancing script;
	font-size: 3rem;
	font-weight: bolder;
	margin-bottom: 1rem;
  color: #FF69B4
}

p {
	margin-bottom: 1rem;
	color: grey;
}